#navbar {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    background-color: rgb(61, 61, 158);
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  #container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 30px;
   margin-right: 80px;
   margin-left: 80px;
   margin-top: 50px;
  }